.time-line__remove-btn_trans {
  background: url(img/remove_trans_icon.png) no-repeat;
  background-size: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.time-line__discript-text_trans {
  width: 80%;
  padding: 20px;
}

.time-line__remove-btn_trans {
  position: absolute;
  right: 10px;
  bottom: 14px;
  margin: 0;
}