.time-line__list {
  list-style: none;
  padding: 0;
}

.time-line__item {
  display: flex;
  align-items: center;
  height: 75px;
  border-bottom: 1px gray solid;
  &:focus {
    outline: none;
  }
}

.time-line__item_active {
  background: rgb(243, 243, 248);
  display: flex;
  align-items: center;
  height: 75px;
  border-bottom: none;
  &:focus {
    outline: none;
  }
}

.time-line__type-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.time-line__discript {
  position: relative;
  background: rgb(232, 235, 247);
  border-bottom: 1px gray solid;
}

.time-line__sort-block{
  label {
    display: block;
  }
}