.time-line__check-btn_news {
  background: url(img/check_news_icon.png) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.time-line__discript-text_news {
  width: 80%;
  padding: 20px;
}

.time-line__check-btn_news {
  position: absolute;
  right: 10px;
  bottom: 14px;
  margin: 0;
}