.time-line__type-icon_news {
  width: 33px;
  height: 33px;
}

.time-line__type-icon_news_new {
  background: url(img/new_news_icon.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

.time-line__type-icon_news_old {
  background: url(img/old_news_icon.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
